*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  padding-top: 70px; }

a {
  text-decoration: none; }

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none; }