<h2>Play Fair</h2>
<div class="row" ng-controller="PlayFairController as playFair">
    <div class="col-md-12">
        <div class="col-md-6">
            <form ng-submit="playFair.addValues( method, keyword, message )">
                <div class="form-group" novalidate>
                    <select class="form-control" ng-model="method" name="" id="" required>
                        <option value="">Select Method</option>
                        <option value="encode">Encode</option>
                        <option value="decode">Decode</option>
                        <option value="force">Force Brute</option>
                    </select>
                </div>
                <div class="form-group">
                    <input class="form-control" ng-minlength="5"  ng-hide="( method === 'force' )" ng-model="keyword" placeholder="Add your keyword" type="text" name="" />
                </div>
                <div class="form-group">
                    <input class="form-control" ng-model="message" placeholder="Add your message" type="text" name="" required/>
                </div>                
                <div class="form-group">
                    <input  class="btn btn-success" type="submit" value="Submit"/>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default" ng-show="((playFair.showMatrix).length) ? true : false">
                <div class="panel-heading">
                    <h3 class="panel-title">Matrix</h3>
                </div>
                <div class="panel-body">
                   <table class="table table-bordered" ng-show="playFair.showMatrix">
                       <thead>
                       <tr>
                           <th colspan="5">{{ playFair.keyword }}</th>
                       </tr>
                       </thead>
                       <tbody>
                       <tr ng-repeat="matrix in  playFair.showMatrix">
                          <td ng-repeat="row in matrix">
                              {{ row }}
                          </td>
                       </tr>
                       </tbody>
                   </table>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Results</h3>
                </div>
                <div class="panel-body">
                    Your method: {{ method }}
                    <br/>
                    Your keyword:
                    <code>
                         {{ playFair.keyword }}
                    </code>
                    <br/>
                    Your message: {{ playFair.message }}
                    <br/>
                    Your message to cipher: <span class="label label-warning">{{ playFair.messageToCipher }}</span>
                    <br/>
                    Play Fair Result: {{playFair.result}}
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-md-12">
        <div class="panel panel-default" ng-show="((playFair.messageForce).length) ? true : false">
            <div class="panel-heading">
                <h3 class="panel-title">Results messages </h3>
            </div>
            <div class="panel-body">
               <span ng-repeat="msj in playFair.messageForce">
                   {{ msj }}
               </span>
            </div>
        </div>
    </div>
</div>
